/*html, body {
	background: #663399; /* Beccapurple 
	margin: 0;
}*/

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(107, 107, 132);
}
body {
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-image: url("../img/city.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: rgb(83, 104, 138);
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}

header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
aside {
	padding: 1em;
	background:rgb(83, 104, 138);
	color: white;
	margin-bottom: 1em;
}
aside h4 {
	color: white;
}

#linkBox {
	/*
	*/
	background: rgb(0,32,96);
	height: 51em;
	
	padding: 25px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(65, 113, 156);
	position: fixed;
	margin: 1em;
	
	
/* 	float: left; */
/* 	width: 250px; */
/* 	height: 800px; */

/* 	padding: 25px; */
/* 	padding-top: 1em; */
/* 	margin-left: 1em; */
/* 	margin-right: 1em; */
/* 	border-style: solid; */
/*  border-width: 1px; */
/*  border-color: rgb(65, 113, 156); */
/* 	position: relative; */
/* 	top: 50px; */
}

#spacer1 {
	height: 325px;
	z-index: -1;
	margin: 1em;
}

.languages h3 {
	font-weight: normal;
	color: rgb(231,230,230);
	font-size: 1.6em;
	margin-bottom:.5em;
}

#tabs>ol>li {
	color: rgb(231, 230, 230);
	font: 1em;
	list-style: none;
	margin: 0 2px 0 0;
	padding: 7px 10px;
}

#tabs > ol > li:hover{
	background: rgb(91, 155, 213); 
	cursor:pointer;
}

#tabs > ol > .active{
	background: rgb(237, 125, 49);
	cursor:pointer;
}

#panel  {
	/*background: white;
	padding:10px 10px 25px;
	margin:0;
	color:#333;*/
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: rgb(231,230,230);
	color: rgb(192, 0, 0);
	padding: 25px;
	padding-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(65, 113, 156);
	position: relative;
	top: 50px;
	
	overflow: auto;
	height: 62em;
	width: 50em;
/* 	right: 30%; */
/* 	width: 500px; */
}

#mainBox {
	float: left;
/* 	position: fixed; */
}

#tabs a {
	text-decoration: none;
	color: rgb(231, 230, 230);
}

img.mugshot {
/* 	height: 256px; */
	max-height:400px;
}


img.enemies {
	max-width:100%;
	max-height:100%;
}

hr {
	border: 1px solid;
	color: rgb(192, 0, 0);
	border-color: rgb(192, 0, 0);
	border-top-color: rgb(192, 0, 0);
	background-color: rgb(192, 0, 0);
}

/* * { */
/* 	border: 1px solid red; */
/* } */